body {
  margin: 0;
  padding: 0; }

#hero {
  margin-bottom: -60px;
  text-align: center; }
  #hero #profile-image {
    border-radius: 200px;
    cursor: pointer;
    height: 25vh;
    margin: 20px auto;
    display: inline-block;
    box-shadow: 2px 4px 8px gray;
    position: relative; }

#projects {
  background-color: #f2f2f2;
  padding: 20px;
  height: auto; }
  #projects #projects-title {
    margin: 30px auto 0 auto;
    display: block;
    opacity: 0.85;
    width: 22vw; }
  #projects #projects-gallery {
    display: flex;
    flex-direction: column; }
    #projects #projects-gallery .gallery-item {
      margin: 8px auto;
      padding: 16px;
      background-color: white;
      box-shadow: 2px 4px 8px gray; }
      #projects #projects-gallery .gallery-item .gallery-item-image {
        cursor: pointer;
        width: 70vw; }
      #projects #projects-gallery .gallery-item .gallery-item-caption {
        margin-top: 16px;
        text-align: center; }
